apiVersion: apps/v1
kind: Deployment
metadata:
  name: f1-app
  labels:
    app: f1-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: f1-app
  template:
    metadata:
      labels:
        app: f1-app
    spec:
      containers:
      - name: f1-app
        image: IMAGE_PLACEHOLDER # Jenkins will overwrite with new tag
        imagePullPolicy: Never
        ports:
        - containerPort: 8501
        readinessProbe:
          httpGet:
            path: /
            port: 8501
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 8501
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "400m"
            memory: "512Mi"
