apiVersion: apps/v1
kind: Deployment
metadata:
  name: f1-app
  labels:
    app: f1-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: f1-app
  template:
    metadata:
      labels:
        app: f1-app
    spec:
      containers:
      - name: f1-app
        image: us-central1-docker.pkg.dev/devops-mini-project-477719/f1-repo/f1-analysis-app:latest  # Jenkins will overwrite with new tag
        ports:
        - containerPort: 8501
        readinessProbe:
          httpGet:
            path: /
            port: 8501
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 8501
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
